.footer {
    background-color: #eaf7ec;
    padding: 40px 20px 20px;
    color: #333;
    font-family: sans-sarif
}

.footer_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;

}
.footer_section {
    display: flex;
    flex-direction: column;
}
.footer_title {
    font-size: 22p;
    color: #2e7d32;
    margin-bottom: 10px;
}
.footer_subtitle {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
}
.footer_text {
    font-size: 14px;
    margin-bottom: 8px;
}
.footer_list {
    list-style: none;
    padding: 0;
}
.footer_list li {
    margin-bottom: 6px;
}
.footer_list a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}
.footer_list a:hover {
    color: #2e7d32;
}
.social_icons {
    margin-top: 10px;
}
.social_icons a {
    font-size: 20px;
    margin-right: 10px;
    color: #2e7d32;
    text-decoration: none;
}

.footer_bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 13px;
    color: #666;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}