.container {
    display: flex;
    min-height: 100vh;
}

.mainContent {
    flex-grow: 1;
    padding: 20px;
    transition: margin-left 0.3s ease;
    margin-left: 0px; /* Width of your sidebar */
}
.mainContentFull {
    margin-left: 0;
    /* Or margin-left: width of collapsed sidebar if you want an icon-only mode */
}